
a {
    text-decoration: none;
}

li {
    list-style: none;
}
.Polaroid1_imge2 img {
    width: 229.79px;
    height: 183.03px;
    padding-left: 20px;
}
.rayyart_img {
    width: 110px;
    height: 105px;
}
.Polaroid1_imge5 {
    width: 266.56px;
    height: 310.85px;
    background: white;
    padding-left: 17px;
    padding-top: 17px;
    transform: rotate(20deg);
    box-shadow: 0px 0px 9.494504928588867px 0px #0000001A;

}
.Polaroid1_imge2 h1 {
    font-size: 21px;
    text-align: center;
     font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-shadow: 0 0 #263238;
    color: #263238;
}
.Polaroid1_imge3 h1 {
    font-size: 21px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-shadow: 0 0 #263238;
    color: #263238;
}
.Polaroid1_imge4 h1 {
    font-size: 21px;
    text-align: center;
     font-family: "Roboto", sans-serif;
  font-weight: 900;
    text-shadow: 0 0 #263238;
    color: #263238;
}
.Polaroid1_imge4 {
    transform: rotate(-5deg);
    width: 215.56px;
    height: 260.85px;
    background: white;
    padding-left: 12px;
}
.Polaroid1_imge5 h1 {
    font-size: 21px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-shadow: 0 0 #263238;
    color: #263238;
    
}
.Polaroid1_imge4 img {
    width: 190.68px;
    height: 200.17px;
     object-fit: cover; 
}

.Polaroid1_imge5 img {
    width: 235.68px;
    height: 225.17px;
    object-fit:cover;
}
.Polaroid1_imge3 img {
    width: 255.68px;
    height: 160.17px;
    padding-left: 20px;
    padding-top: 20px;
}
.Polaroid1_imge3 {
    width: 273.56px;
    transform: rotate(-25deg);
    height: 245.85px;
    background: white;
}
.rayyart_img img {
    width: 100%;
    height: 100%;
}
.Polaroid1_imge1 img {
    width: 205px;
}
.head_list a {
    font-family: Poppins;
    font-size: 29px;
    color: #000000;
    /* letter-spacing: 0.4px; */
    font-weight: 500;
}

header.header_box {
    background: #FBB034;
}

section.sec_one {
    background: #0F0F1D;
}

.ray_imag img {
    width: 100%;
}

.welome_content h5 {
    font-family: Jost;
    color: #FBB034;
    font-size: 42px;
    letter-spacing: -1.0px;
}

.welome_content p {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Poppins';
    line-height: 29.16px;
}
.navbar-brand img {
    width: 90px;
}
.play img {
    width: 217px;
    height: 70px;
    object-fit: contain;
}

.Convecol_box h3 {
    font-size: 68px;
    color: #FBB034;
    font-family: 'Poppins';
    font-weight: 700;
}

.OnePlus_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Convecol_box p {
    /* font-size: 46px; */
    font-size: 38px;
    color: #FFFFFF;
    line-height: 66.93px;
    font-family: 'Poppins';
    text-transform: capitalize;
}

.carft_imges {
    background-image: url(../images/carft_img.png);
    width: 100%;
    height: 712px;
    background-size: contain;
}

section.sec_two {
    background: #DFC9F2;
}

.salon_img p {
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.ray_img1 img {
    width: 100%;
}

.Partner_btn {
    background: #171716;
    padding: 0px 0px 4px 0px;
    border-radius: 10px;
    box-shadow: -1px 1px 20px 0px #FFC95E;
}

.Partner_btn a {
    font-size: 40px;
    color: #FFFFFF;
}



.Craft_box h1 {
    font-family: Playfair Display;
    font-size: 56px;
}

.Polaroid1_imge img {
    width: 100%;
}

footer {
    background: #000000;
}

.facebook img {
    width: 11px;
    height: 24px;
}

.cros img {
    width: 100%;
}

.cros {
    width: 24px;
    height: 24px;
}

.Aboutus a {
    color: #FFFFFF;
    font-size: 22px;
}

.Aboutus li {
    padding: 5px 0;
}

a.term {
    color: #b86912;
}

.Polaroid1_imge img {
    width: 199.94px;
    height: 200.94px;
    padding: 15px 0px 0px 15px;
    object-fit: cover;
}

.Polaroid1_imge {
    width: 215.81px;
    height: 274.55px;
    background: #FFFFFF;
    transform: rotate(13deg);
    box-shadow: 0px 0px 9.494504928588867px 0px #0000001A;

}

.Polaroid1_imge h1 {
    font-size: 21px;
    text-align: center;
   font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #263238;
    text-shadow: 0 0 #263238;
}

.Polaroid1_imge2 {
    width: 247.62px;
    height: 256.64px;
    background: #FFFFFF;
    padding: 14px 0px 0px 0px;
    transform: rotate(-3deg);
    margin:0 auto;
    box-shadow: 0px 0px 9.494504928588867px 0px #0000001A;

}

.Polaroid1_imge2 img {
    width: 229.79px;
    height: 183.03px;
}

.Polaroid1_imge3 img {
    width: 250.68px;
    height: 157.17px;
}

.Polaroid1_imge3 {
    width: 264.56px;
    transform: rotate(-25deg);
    height: 217.85px;
    box-shadow: 0px 0px 9.494504928588867px 0px #0000001A;

}

.Polaroid1_imge4 {
    transform: rotate(-15deg);
    box-shadow: 0px 0px 9.494504928588867px 0px #0000001A;

}

.Polaroid1_imge.Polaroid1_imge5 {
    transform: rotate(15deg);
}

.ray_imag {
    position: absolute;
    right:0;
}
section.three {
    background: #eb9f19;
}
.salon_img img {
    width: 65%;
}
.salon_content {
    position: absolute;
    z-index: 3;
    text-align: -webkit-center;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0px;
}

.salon_img {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height:100vh;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 399px;
    width: 43px;
    transition: opacity .15s ease;
    background: #00d5ff;
    height: 40px;
    border-radius: 50%;
}button.bars {
    border: 0;
    background: none;
    font-size: 30px;
    position: absolute;
    left: 330px;
    top: 10px;
}

ul.mobile.feane {
    z-index: 1;
    position: absolute;
    text-align: end;
    right: 0px;
    width: 100%;
    background: #fbb034;
    height: auto;
    top: 75px;
    padding: 10px 0px 20px 0px;
    text-align: center;
    border-radius: 0;
    border-top: 1px solid;
}i.fa.text-white.fa-xmark {
    font-size: 20px;
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 11px;
    border-radius: 50%;
}
.carousel-control-next-icon {
    width: 20px;
}
.carousel-control-prev-icon {
    width: 20px;
}

.header_box {
    background: #FBB034;
    padding: 0px;
}
/* .bars {
border: 0; 
background: none;
 font-size:30px ;
 position: absolute;
 left: 0px; 
 top: 20px;
} */

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.play a{
    display:inline-block;
}
@media(min-width:1460px){
    .head_list a {
    font-size: 22px;   
}
.Convecol_box p {
    /* font-size: 46px; */
    font-size: 30px!important;
    line-height: 45.93px!important;  
}
.Convecol_box h3 {
    font-size: 35px!important;
}
.salon_img img {
    width: 64.5%;
}
}


